# .NET
bin/
obj/
publish-deploy/
publish-*/
*.user
*.suo
*.userprefs
*.vs/
.vs/
TestResults/

# Frontend
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local

# Secretos de producción (no commiteables)
appsettings.Production.json
appsettings.*.Production.json

# OS
Thumbs.db
.DS_Store
